
<div class="container pt-3 mt-5" >
    
    <form #editForm="ngForm" class="row"  style=" border-radius:4px; box-shadow: 1px 1px 10px black;">

        <h1 class="mt-5 ml-5 mb-5 col-lg-12" style="font-family: Great Vibes;">Modification</h1> 
        <div class="form-group col-lg-7  mb-4 pt-1">
            <input type="text" class="form-control " id="" aria-describedby="" placeholder="Libelle" [(ngModel)]="profilSortie.libelle" name="libelle" >
        </div>

        <div class="form-group col-lg-10 ">
            <button type="submit" (click)="modifierProfilsortie()" [disabled]="!editForm.valid" class="btn float-right mt-5 col-lg-3" style="background-color:#287895; color:white">EDITER</button>
        </div> 
    </form>
    </div>