
.container{
  border: 5px solid white;
  border-radius: 20px;
  background-color: rgba(229, 234, 235, 0.904);
  margin-top: 200px;
}

input, button{
  height: 50px;
}
/* img{
    background-image: url(../assets/images/mini.jpg);
} */

input.ng-invalid.ng-touched{
  border-left: 4px solid red;
}
.ng-valid{
  border-left: 5px solid green;
  }