
<div class="container pt-3" >
  <form [formGroup]="updateForm"  style=" border-radius:4px; box-shadow: 1px 1px 10px black;" >
    <h1 class="mt-5 ml-5 mb-5 col-lg-12 pt-5" style="font-family: Great Vibes">Modification</h1> 
    <div class="col-11  p-3 ml-5">
      <div class="form-group row">
        <div class="col-4">
          <label for="inputCompetence" class="col-form-label">Groupe Competence</label>
        </div>
        <div class="col-8">
          <select class="form-control inputstl" id="inputCompetence" multiple  [formControlName]="'groupeCompetence'" [(ngModel)]="competences.groupeCompetence"
                  (ngModelChange)="optionChoised($event)" >
              <option class="font-italic font-weight-bold" *ngFor="let groupeCompetence of groupeCompetences" value="/api/admin/groupeCompetences/{{groupeCompetence.id}}">
                {{groupeCompetence.libelle}}</option>
          </select>
        </div>
     
      </div>
      <span class="text-danger row" *ngIf="groupeCompetence.invalid && groupeCompetence.touched">groupeCompetence is required</span>
      <div class="row mt-4 form-group">
        <div class="col-4">
          <label for="inputLibelle" class="col-form-label">Libelle</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control " id="Libelle" aria-describedby="" placeholder="" [(ngModel)]="competences.libelle" formControlName="libelle">
        </div>
        
      </div>
       <span class="text-danger row" *ngIf="libelle.invalid && libelle.touched">Libelle is required</span>

      <div class="row mt-4 form-group">
        <div class="col-4">
          <label for="inputDescription" class="col-form-label">Description</label>
        </div>
        <div class="col-8">
          <input type="text" class="form-control " id="Description" aria-describedby="" placeholder="" [(ngModel)]="competences.description" formControlName="description">
        </div>
      </div>
      <span class="text-danger row" *ngIf="description.invalid && description.touched">Description is required</span>

      <div class="accordion mt-4" id="exempleAccordeon">
          <div class="card">
            <div class="card-header" id="header4">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">Niveau n°1</button>
            </div>
            <div id="collapse4" class="collapse show" aria-labelledby="header4" data-parent="#exempleAccordeon">
              <div class="card-body">
                <input type="text" class="form-control " id="niveaux" aria-describedby="" placeholder="niveaux" [(ngModel)]="competences.groupeCompetence" formControlName="libellen1">
              </div>
              <span class="text-danger row ml-5" *ngIf="libellen1.invalid && libellen1.touched">libelle is required</span>
              <div class="card-body">
                <input type="text" class="form-control " id="groupeAction" aria-describedby="" placeholder="groupe d'action à réaliser" [(ngModel)]="competences.groupeCompetence" formControlName="groupeAction1">
              </div>
              <div class="card-body">
                <input type="text" class="form-control " id="critereEvaluation" aria-describedby="" placeholder="critere d'évaluation" [(ngModel)]="competences.groupeCompetence" formControlName="critereEvaluation1">
              </div>
            </div>
          </div>
            
          <div class="card">
            <div class="card-header" id="header5">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">Niveau n°2</button>
            </div>
            <div id="collapse5" class="collapse" aria-labelledby="header5" data-parent="#exempleAccordeon">
              <div class="card-body">
                <input type="text" class="form-control " id="niveaux" aria-describedby="" placeholder="niveaux" [(ngModel)]="competences.groupeCompetence" formControlName="libellen2">
              </div>
              <span class="text-danger row  ml-5" *ngIf="libellen2.invalid && libellen2.touched">libelle is required</span>
              <div class="card-body">
                <input type="text" class="form-control " id="groupeAction" aria-describedby="" placeholder="groupe d'action à réaliser" [(ngModel)]="competences.groupeCompetence" formControlName="groupeAction2">
              </div>
              <div class="card-body">
                <input type="text" class="form-control " id="critereEvaluation" aria-describedby="" placeholder="critere d'évaluation" [(ngModel)]="competences.groupeCompetence" formControlName="critereEvaluation2">
              </div>
            </div>
          </div>
  
          <div class="card">
            <div class="card-header" id="header6">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">Niveau n°3</button>
            </div>
            <div id="collapse6" class="collapse" aria-labelledby="header6" data-parent="#exempleAccordeon">
              <div class="card-body">
                <input type="text" class="form-control " id="niveaux" aria-describedby="" placeholder="niveaux" [(ngModel)]="competences.libellen3" formControlName="libellen3">
              </div>
              <span class="text-danger row" *ngIf="libellen3.invalid && libellen3.touched">libelle is required</span>
              <div class="card-body">
                <input type="text" class="form-control " id="groupeAction" aria-describedby="" placeholder="groupe d'action à réaliser" [(ngModel)]="competences.groupeAction3" formControlName="groupeAction3">
              </div>
              <div class="card-body">
                <input type="text" class="form-control " id="critereEvaluation" aria-describedby="" placeholder="critere d'évaluation" [(ngModel)]="competences.critereEvaluation3" formControlName="critereEvaluation3">
              </div>
            </div>
          </div> 
    </div>
    <div class="form-group col-lg-8 ">
      <button type="button" class="btn float-right mt-5 col-lg-4" (click)="modifierCompetence()" [disabled]="updateForm.invalid" style="background-color:#287895; color:white">Soumetre</button>
    </div>
    </div>
  </form>
  </div>