
<div class="container pt-3" >
    
    <form [formGroup]="referentielForm" class="row"  style=" border-radius:4px; box-shadow: 1px 1px 10px black;">
        <h1 class="mt-5 ml-5 mb-5 col-lg-12">Ajout referentiel</h1> 
        <div class="form-group col-lg-5  mb-4 pt-1">
            <input type="text" class="form-control " id="" aria-describedby="" placeholder="Entrez votre Libelle" [formControlName]="'libelle'">
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
        <div class="form-group col-lg-5 ml-3 mb-4">
            <input type="text" class="form-control " id="" aria-describedby="" placeholder="Entrez votre presentation" [formControlName]="'presentation'">
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
    
        
        <div class="form-group col-lg-5 mb-4 ">
            <select class="form-control" id="" [formControlName]="'Competences'">
                <option>choisissez vos Compétences</option>
                <option>Développer le back-end d'une application web</option>
                <option>Développer le front-end d'une application web</option>
            </select>
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 ml-3 mb-4">
            <input type="text" class="form-control " id="" aria-describedby="" placeholder="Entrez votre programme" [formControlName]="'programme'">
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 mb-4" >
            <select class="form-control" id="" [formControlName]="'critereEvaluation'">
                <option>choisissez votre Critère d'évaluation</option>
                <option>Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation</option>
                <option>Une soutenance devant un jury de professionnels</option>
            </select>
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 ml-3 mb-4">
            <select class="form-control" id="" [formControlName]="'critereAdmission'">
                <option>choisissez votre Critères d'admission</option>
                <option>Une soutenance devant un jury de professionnels</option>
                <option>Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation</option>
            </select>
            <!-- <small id="" class="form-text text-muted">We'll never share your text with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-10 ">
            <button type="button" class="btn float-right mt-5 col-lg-3" (click)="ajouterReferentiel()" style="background-color:#287895; color:white">S'inscrire</button>
        </div>
    
    </form>
    </div>