
<div class="container pt-3" >
    
    <form action="" class="row"  style=" border-radius:4px; box-shadow: 1px 1px 10px black;">
        <h1 class="mt-5 ml-5 mb-5 col-lg-12">Ajout</h1> 
        <div class="form-group col-lg-5  mb-4 pt-1">
            <select class="form-control" id="">
                <option>choix de la langue</option>
                <option>Français</option>
                <option>Anglais</option>
            </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group col-lg-5 ml-3 mb-4">
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez un titre">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        
        <div class="form-group col-lg-5 mb-4 ">
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" 
               placeholder="Ecrivez une description rapide simple et correct">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 ml-3 mb-4">
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" 
               placeholder="Donnez la région de la promo">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 mb-4" >
            <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" 
            placeholder="Donnez la réference agate">
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 ml-3 mb-4">
            <select class="form-control" id="">
                <option>Choix de la fabrique</option>
                <option>Un portfolio comprenant la réalisation d'au moins 9 projets tout au long de la formation</option>
                <option>Une soutenance devant un jury de professionnels</option>
            </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
    
        <div class="form-group col-lg-5 ">
            <label>Date de début</label>
            <input type="date" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="form-group col-lg-5 ml-3">
            <label>Date de fin</label>
            <input type="date" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp">
            <!-- <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small> -->
         </div>
<hr>
       <p>reff</p>
    
        <div class="form-group col-lg-10 ">
            <button type="button" class="btn float-right mt-5 col-lg-3" style="background-color:#287895; color:white">S'inscrire</button>
        </div>
    
    </form>
    </div>